* {
    margin: 0; 
    padding: 0;  
}

@font-face {
    font-family: "ArcaneFont";
    src: url("../font/Arcane Nine.otf") format("opentype");
}

nav a, nav a:visited {
    transition: all 0.2s;

    text-decoration: none;
    color: rgb(209,163,73);
}

nav a:hover
{
    color: rgb(39,65,86);
    text-shadow: 2px 2px 2px black;
}

html,
body{
    display: flex;
    flex-direction: column;

    font-family: "ArcaneFont";
    height: 100%;
}

nav > ul {
    display: flex;
    flex-direction: row;
    gap: 13em;
    margin-left: 3em;
}

li {
    list-style: none;
    font-size: 1.8em;
}

nav {
    height: 3em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: rgb(139,30,63);
}

.title {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 7em;

    background-image: url(https://wallpapers.com/images/hd/arcane-league-of-legends-at-night-dw1s1jkv8aqvjbpk.jpg);
    background-position: center;
}

h1 {
    font-size: 10em;
    color: rgb(209,163,73);
    text-shadow: -2px 2px 0px rgba(0,0,0,0.5);
}

button {
    width: 10em;
    height: 2em;

    font-family: "ArcaneFont";
    font-size: 2em;

    transition: all 0.2s;

    background-color: rgb(39,65,86);
    border-radius: 30px;
    border: 2px solid rgba(91,58,112);
}

button:hover {
    background-color: rgb(91,58,112);
    border-radius: 30px;
    border: 4px solid rgba(39,65,86);

    width: 11em;
    height: 3em;
}

button:active {
    background-color: rgb(139,30,63);
}

